<div class="main-page-center">
  <div class="small-10 columns small-centered small-text-center">
    <div class="row" data-equalizer-watch>
      <div class="small-12 large-6 columns small-centered large-uncentered" data-equalizer>
        <%= image_tag "logo_color.png", width: "100%" %>
      </div>
      <div class="small-12 large-6 columns small-centered large-uncentered text-left main-page-right" data-equalizer>
        <div class="small-text-center">
          <h2 class="subheader"><em>Eating. <wbr>Interacting. <wbr>Discovering Ourselves.</em></h2>
        </div>
        <p>
          With Eateract, you can easily organize a forum to deepen your connection
          with others, broaden your thinking, and enjoy a great meal.
        </p>
        <div class="small-text-center">
          <h3 class="subheader"><em>Open Minds. <br>Open Hearts. <br>Open Mouths.</em></h3>
        </div>
      </div>
    </div>
    <br><br>
    <div class="panel">
        <h4 class="subheader">Eateract is all about <em>food, friends, and fun</em>!</h2>
      <% if session[:user_id] %>
        <a class="button large" href="/meals/new">Start a new meal!</a>
      <% else %>
        <%= link_to (image_tag "https://fbcdn-dragon-a.akamaihd.net/hphotos-ak-prn1/t39.2178-6/851559_525052150897756_1657976780_n.png"), "/auth/facebook", id: "sign_in" %><br>
        <blockquote>We will never post to Facebook without your permission.</blockquote>
      <% end %>
    </div>
  </div>
</div>