<div class="small-10 columns small-centered small-text-center">
  <%= image_tag "logo_color.png", height: "500px", width: "500px" %>
  <h3><em>Eating. Interacting. Discovering Ourselves.</em></h3>
  <div class="panel">
    <p>
      Eateract is all about <em>food, philosophy, and fun</em>.
    </p>
  </div>
</div>