<div class="main-page-center">
  <div class="small-10 columns small-centered small-text-center">
    <div class="small-12 medium-10 large-6 columns small-centered">
      <%= image_tag "logo_color.png", width: "100%" %>
    </div>
    <h2 class="subheader"><em>Eating. &#8203;Interacting. &#8203;Discovering Ourselves.</em></h3>
    <div class="panel">
        <h4 class="subheader">Eateract is all about <em>food, friends, and fun</em>!</h2>
      <% if session[:user_id] %>
        <a class="button large" href="/meals/new">Start a new meal!</a>
      <% else %>
        <%= link_to (image_tag "https://fbcdn-dragon-a.akamaihd.net/hphotos-ak-prn1/t39.2178-6/851559_525052150897756_1657976780_n.png"), "/auth/facebook", id: "sign_in" %><br>
        We will never post to Facebook without your permission.
      <% end %>
    </div>
  </div>
</div>