  <div class="guests">
    Who are you inviting?<br>
    <% 5.times do %>
      <%= f.fields_for(Person.new) do |ff| %>
        <div class="small-4 columns">
          Name: <%= ff.text_field :name %>
        </div>
        <div class="small-4 columns">
          Email: <%= ff.text_field :email %>
        </div>
        <div class="small-4 columns">
          Relationship: <%= text_field_tag :"guest[host_relationship]" %><br>
        </div>
      <% end %>
    <% end %>
    <br><a href="#topic">Continue</a>
  </div>