<div class="menu-container small-11 large-10 columns small-centered">
  <div class="menu panel small-text-center">
    <h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Le Menu&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h1>
    <div class="menu item hidden">
      <a class="remove-menu-item"><wbr>(remove)</a>
    </div>
  </div>
  <div class="recipe-querier">
    <div class="row">
      <div class="small-12 medium-8 large-10 columns">
        <%= text_field_tag :recipe_query, nil, placeholder: "Enter your search terms..." %>
      </div>
      <div class="small-12 medium-4 large-2 columns small-text-center">
          <a id="search-recipes" class="button">Search!</a>
      </div>
    </div>
  </div>
  <div class="recipe-container hidden">
    <table class="recipes-table">
      <thead>
        <tr>
          <th></th>
          <th>Image</th>
          <th>Recipe</th>
          <th>Course</th>
          <th>Cuisine</th>
          <th>Yummly Rating</th>
          <th>Source</th>
        </tr>
      </thead>
      <tbody class="recipes-on-display">
      </tbody>
    </table>
    <div class="recipes-attribution small-text-center"></div>
  </div>
  <br>
  <div class="hidden-recipes hidden">
    <%= text_field_tag :recipe_list, nil, class: "hidden" %>
  </div>
  <div class="tab-around-links small-centered small-text-center row">
    <a href="#goto-topic" class="tab-around button"><- Back</a>
    <a href="#goto-message" class="tab-around button">Continue -></a>
  </div>
</div>