<div class="menu-container small-10 columns small-centered">
  <div class="menu panel">
    <h1 class="small-text-center">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Le Menu&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h1>
    <div class="menu item hidden">
    </div>
  </div>
  <div class="recipe-querier">
    <p>
      Enter your search terms:
      <%= text_field_tag :recipe_query %>
      <a class="button small-centered" id="search-recipes">Search!</a>
    </p>
  </div>
  <div class="recipe-container hidden">
    <table class="recipes-table">
      <thead>
        <tr>
          <th></th>
          <th>Image</th>
          <th>Recipe</th>
          <th>Course</th>
          <th>Cuisine</th>
          <th>Yummly Rating</th>
          <th>Source</th>
        </tr>
      </thead>
      <tbody class="recipes-on-display">
      </tbody>
    </table>
    <div class="recipes-attribution small-text-center"></div>
  </div>
  <br>
  <div class="hidden-recipes hidden">
  </div>
</div>

<div class="tab-around-links small-2 columns small-centered">
  <a href="#goto-topic" class="tab-around"><button class="small-12 columns"><- Back</button></a>
</div>