<div class="small-12 columns small-centered">
  <div class="topic-title-select small-10 large-4 columns small-centered">
    <%= select("meal", "topic_id", Topic.all.map{|topic| [topic.name, topic.id]}, prompt: "Select a topic") %>
  </div>
  <div class="topic-links small-12 large-6 columns left">
  </div>
</div>
<div class="show-for-large-up">
  <div class="hidden small-12 large-6 columns right topic-descriptions-container">
    <h4>Hover over links to see descriptions here (or click them to open in a new tab):</h4>
    <div class="show-for-medium-up">
      <div class="topic-descriptions panel">
      </div>
    </div>
  </div>
</div>
<div class="small-12 columns"></div>
<div class="tab-around-links small-centered small-4 columns">
  <a href="#goto-guests" class="tab-around"><button class="small-6 columns"><- Back</button></a>
  <a href="#goto-food" class="tab-around"><button class="small-6 columns">Continue -></button></a>
</div>