<div class="small-12 medium-11 small-centered columns">
  <h1>Editing meal</h1>

  <%= render 'form' %>
</div>

<script type="text/javascript">
  var checkedLinks = <%= @link_ids ? raw(@link_ids.map(&:to_s)) : '[]' %>;
  var recipesInfo = <%= raw(@recipes ? @recipes.to_json : '{}') %>;
</script>