<div class="small-11 columns small-centered">
  <h1>Your Meals</h1>
  <h3 class="subheader">Save the dates!</h3>
  <ul class="small-block-grid-2 large-block-grid-4 small-text-centered">
  <%= render @meals %>
  </ul>
</div>

<br>
