<div class="large-12 medium-8 columns">
  <h1>Your Meals</h1>
  <h3 class="subheader">Save the dates!</h3>
  <ul class="small-block-grid-2 large-block-grid-4">
  <%= render @meals %>
  </ul>
</div>

<br>
