<div class="small-12 medium-8 large-7 columns small-centered">
  <div class="small-12 columns small-centered round all-meals-container">
    <h1>Your Meals</h1>
    <% if !@upcoming_meals.empty? %>
      <h3 class="subheader">Your Upcoming Meals</h3>
      <ul class="small-block-grid-1 large-block-grid-2 small-text-centered">
      <%= render @upcoming_meals %>
      </ul>
    <% end %>
    <% if !@past_meals.empty? %>
      <h3 class="subheader">Your Past Meals</h3>
      <ul class="small-block-grid-1 large-block-grid-2 small-text-centered">
      <%= render @past_meals %>
      </ul>
    <% end %>
    <% if !@unfinished_meals.empty? %>
      <h3 class="subheader">Want to Finish Up a Meal Plan?</h3>
      <ul class="small-block-grid-1 large-block-grid-2 small-text-centered">
      <%= render @unfinished_meals %>
      </ul>
    <% end %>
  </div>
</div>

<br>