<p id="notice"><%= notice %></p>
<div class="small-12 medium-8 large-6 columns small-centered">
<%= render partial: 'full_meal_display' %>
</div>
<br>
<br>
<div class="small-text-center small-12 columns">
  <%= link_to 'View all my meals', meals_path, class: "button small" %>
</div>
