<p id="notice"><%= notice %></p>

<%= render partial: 'full_meal_display' %>
<br>
<br>
<div class="small-text-center small-12 columns">
  <%= link_to 'View all my meals', meals_path, class: "button small" %>
</div>
