// Place all the styles related to the Meals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*
*/

// FOR THE INDEX PAGE
.meal-li {
  background: rgba(203, 30, 30, 0.8);
  box-shadow: 1px 1px 3px 1px #444;
  margin: 2px;
  padding: 5px !important;
  border: 2px solid black;
  border-radius: 10px;
}

.all-meals-container {
  background: rgba(30, 130, 200, 0.3);
  border-radius: 10px;
  box-shadow: 1px 1px 3px 1px #444;
}

// FOR THE MEAL DISPLAY PAGE
.one-full-meal {
  font-size: 1.1em;
}

form.recipe-form {
  background: none !important;
}

div.meal-display-section {
  background: rgba(0, 0, 0, 0.2);
  
  margin-bottom: 10px;
  padding: 10px;
}

// FOR THE FORM

dl.tabs {
  dd {
    border: 4px solid darkblue;
    border-left: none;
    border-bottom: none;
    width: 33.3333333333333%;
    -webkit-box-shadow: inset 0px -7px 18px 0px rgba(0,0,0,1);
    -moz-box-shadow: inset 0px -7px 18px 0px rgba(0,0,0,1);
    box-shadow: inset 0px -7px 18px 0px rgba(0,0,0,1);
  }
  dd:last-child {
    border-right: none;
  }
  dd.active {
    border-bottom: 4px solid #fff;
    z-index: 10;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}

form.meal-form {
  border: 4px solid darkblue;
  border-top: none;
  border-radius: 10px;
  box-shadow: 1px 1px 4px 2px #444;
}

.topic-links {
  display: none;
}

.hidden {
  display: none;
}

form.border-top {
  border-top: 4px solid darkblue
}

.content.active {
 box-shadow: 0px -4px 5px 0px #444; 
 z-index: 8;
}

.menu.panel h1 {
  text-decoration: underline;
  font-family: 'Italianno', cursive;
}

.menu.panel {
  font-family: 'Italianno', cursive;
}

input#recipe_query, a#search-recipes {
  height: 53px;
}

.menu.item {
  font-size: 1.6em;
}

@media only screen and (max-width: 760px) {
  .recipes-table th:nth-child(1n+4),
  .recipes-table td:nth-child(1n+4) {
    display: none;
  }
  .recipes-table th:last-child,
  .recipes-table td:last-child {
    display: table-cell;
  }
  .menu.item {
    font-size: 1.3em;
  }
}