// Place all the styles related to the Meals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*
*/

dl.tabs {
  dd {
    border: 4px solid darkblue;
    border-left: none;
    border-bottom: none;
    width: 33.3333333333333%;
    border-radius: 10px 10px 2px 2px;
    -webkit-box-shadow: inset 0px -7px 18px 0px rgba(0,0,0,1);
    -moz-box-shadow: inset 0px -7px 18px 0px rgba(0,0,0,1);
    box-shadow: inset 0px -7px 18px 0px rgba(0,0,0,1);
  }
  dd:last-child {
    border-right: none;
  }
  dd.active {
    border-bottom: 4px solid #fff;
    z-index: 10;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}

form {
  border: 4px solid darkblue;
  border-top: none;
  border-radius: 10px;
}

.topic-links {
  display: none;
}

.hidden {
  display: none;
}